* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.breadcrumbs {
    padding: 100px 0 60px 0;
    min-height: 30vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.breadcrumbs:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
}

.breadcrumbs h2 {
    font-size: 56px;
    font-weight: 500;
    color: #fff;
    font-family: #52565e;
}

#preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: #fff;
    transition: all 1s ease-out;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #fff;
    border-color: #fed900 transparent #fed900 transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    color: #364d59;
    overflow-x: hidden;
}

.header {
    z-index: 997;
    position: absolute;
    padding: 30px 0;
    top: 0;
    left: 0;
    right: 0;
}

.logo img {
    max-height: 40px;
    margin-right: 6px;
}

.logo h1 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0;
}

.logo h1:hover {
    color: #ffc732;

}

.logo {
    text-decoration: none;
}

.logo h1 span {
    color: #feb900;
}

.hero {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
}

.hero .carousel-item {
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 0;
    transition-duration: 0.4s;
    height: 100vh;
}

.hero .info {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.carousel-item::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    inset: 0;
}

.hero .carousel {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
}

.info h2 {
    color: #fff;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 56px;
    font-weight: 700;
    position: relative;
}

.hero .info h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 4px;
    background: #fed900;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.hero .info p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
}

.hero .info .btn-get-started {
    font-family: #fed900;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 10px;
    color: #fff;
    border: 2px solid #fed900;
    font-weight: bold;
    text-decoration: none;
}

.hero .info .btn-get-started:hover {
    background: #fed900;
}

.hero .carousel-control-next-icon,
.hero .carousel-control-prev-icon {
    line-height: 0;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5px;
}

.hero .carousel-control-prev,
.hero .carousel-control-next {
    z-index: 3;
    transition: 0.3s;
}

.hero .carousel-control-prev:focus,
.hero .carousel-control-next:focus {
    opacity: 0.5;
}

.hero .carousel-control-prev:hover,
.hero .carousel-control-next:hover {
    opacity: 0.9;
}






.contact{
    height: 100%;
}


.contact .info-item {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    padding: 20px 0 30px 0;
}

.contact .info-item i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    font-size: 24px;
    line-height: 0;
    color: #feb900;
    border-radius: 50%;
    border: 2px dotted #ffd565;
}

.contact .info-item h3 {
    font-size: 20px;
    color: #6c757d;
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-item p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.card-body {
    padding: 30px;
    display: none;
}

.card-body2 {
    padding: 30px;
}

.footer {
    color: #fff;
    background: url("../img/footer-bg.jpg") top center no-repeat;
    background-size: cover;
    font-size: 14px;
    padding: 30px 0 50px 0;
    position: relative;
}

.footer:before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    inset: 0;
}

.footer .footer-legal .copyright {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}